:root {
    --bg-info: rgb(0,123,255);
}

*{
    color: white;
}

h1, h2, h3, h4, h5, h6, p {
    color: black;
    font-weight: lighter;
}

nav {
    background-color: var(--bg-info);
    color: var(--bg-white);
}

.h400 {
    height: 400px;
}

.ex1Div {
    border-radius: 30px;
}

div.bg-success {
    border: 3px solid black;
    border-radius: 30px 0 0 30px;
}

div.bg-success-left {
    border: 3px solid black;
    border-radius: 0px 30px 30px 0px;
}

.columns-gap {
    display: flex;
    flex-direction: column;
    column-gap: 1px;
}

.bg-1 {
    background-color: rgb(255,247,189)
    ;
}

.bg-2 {
    background-color: rgb(255,237,105)
    ;
}

.bg-3 {
    background-color: rgb(255,228,31)
    ;
}

.bg-dark-grey {
    background-color: rgb(189, 189, 189);
    color: black;
}